body {
    background-color: #d9d9d9;
}

.box {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #222;
    margin: 5px;
  }
  
  .clicked {
    background-color: #999;
  }